   <IfModule mod_rewrite.c>

     RewriteEngine On
     RewriteBase /breast-feeding/
     RewriteRule ^index\.html$ - [L]
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteCond %{REQUEST_FILENAME} !-l
     RewriteRule . /breast-feeding/index.html [L]

   </IfModule>
